<div class="container">
  <div class="row">
    <select
      style="margin: 20px 8px 0px 25px; font-size: 150%; text-align: center"
      [(ngModel)]="valorUsuario"
    >
      <option value="todos" selected="true">Todos</option>
      <option *ngFor="let usuario of usuarios" value="{{ usuario.nome }}">
        {{ usuario.nome }}</option
      >
    </select>
    <button
      style="margin: 20px 8px 0px 0px; font-size: 150%"
      (click)="FiltrarUsuarioSignalR(valorUsuario)"
      class="btn btn-primary"
    >
      Buscar
    </button>
  </div>

  <!-- Titles Kanban -->
  <div class="row" style="margin-top: 20px">
    <h2 class="text-center col-sm-4">
      To Do <label class="circleLabelTodo">{{ tarefasTodo.length }}</label>
      <hr />
    </h2>

    <h2 class="text-center col-sm-4">
      In Progress
      <label class="circleLabelInpro"> {{ tarefasInPro.length }}</label>
      <hr />
    </h2>

    <h2 class="text-center col-sm-4">
      Done
      <label class="circleLabelDone"> {{ tarefasDone.length }}</label>
      <hr />
    </h2>
  </div>

  <div class="row scrollTarefas" style="margin-top: -10px">
    <!-- To Do -->
    <div
      class="col-sm-4"
      id="0"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="tarefasTodo"
      [cdkDropListConnectedTo]="[inprogressList, doneList]"
      (cdkDropListDropped)="onDrop($event)"
    >
      <!-- <h2 class="text-center">To Do <label
        class="circleLabelTodo"
        >{{ tarefasTodo.length }}</label></h2>
      <hr> -->
      <mat-card
        *ngFor="let todo of tarefasTodo"
        [ngClass]="borderLeft(todo.prioridade)"
        cdkDrag
      >
        <mat-card-header>
          <i [ngClass]="inserirIcon(todo.esforcoPrev, todo.esforcoReal)"></i>
          <mat-card-title id="{{ todo.id }}">{{ todo.titulo }}</mat-card-title>
          <mat-card-subtitle
            >Prioridade:
            <label [ngClass]="mudarCor(todo.prioridade)">{{
              mudarTexto(todo.prioridade)
            }}</label>
          </mat-card-subtitle>
          <mat-card-subtitle
            >Responsavel: {{ todo.responsavel.nome }}</mat-card-subtitle
          >
          <mat-card-subtitle>Status: {{ todo.status }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <!-- In Progress -->
    <div
      class="col-sm-4"
      id="1"
      cdkDropList
      #inprogressList="cdkDropList"
      [cdkDropListData]="tarefasInPro"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="onDrop($event)"
    >
      <!-- <h2 class="text-center">In Progress
        <label class="circleLabelInpro"> {{tarefasInPro.length}}</label>
      </h2>
      <hr> -->
      <mat-card
        *ngFor="let inpro of tarefasInPro"
        [ngClass]="borderLeft(inpro.prioridade)"
        cdkDrag
      >
        <mat-card-header>
          <i [ngClass]="inserirIcon(inpro.esforcoPrev, inpro.esforcoReal)"></i>
          <mat-card-title id="{{ inpro.id }}">{{
            inpro.titulo
          }}</mat-card-title>
          <mat-card-subtitle
            >Prioridade:
            <label [ngClass]="mudarCor(inpro.prioridade)">{{
              mudarTexto(inpro.prioridade)
            }}</label>
          </mat-card-subtitle>
          <mat-card-subtitle
            >Responsavel: {{ inpro.responsavel.nome }}</mat-card-subtitle
          >
          <mat-card-subtitle>Status: {{ inpro.status }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <!-- Done -->
    <div
      class="col-sm-4"
      id="2"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tarefasDone"
      [cdkDropListConnectedTo]="[todoList, inprogressList]"
      (cdkDropListDropped)="onDrop($event)"
    >
      <!-- <h2 class="text-center">Done
          <label class="circleLabelDone"> {{tarefasDone.length}}</label>
      </h2>
      <hr> -->
      <mat-card
        *ngFor="let done of tarefasDone"
        [ngClass]="borderLeft(done.prioridade)"
        cdkDrag
        id="{{ done.id }}"
      >
        <mat-card-header>
          <i [ngClass]="inserirIcon(done.esforcoPrev, done.esforcoReal)"></i>
          <mat-card-title>{{ done.titulo }}</mat-card-title>
          <mat-card-subtitle
            >Prioridade:<label [ngClass]="mudarCor(done.prioridade)">{{
              mudarTexto(done.prioridade)
            }}</label>
          </mat-card-subtitle>
          <mat-card-subtitle
            >Responsavel: {{ done.responsavel.nome }}</mat-card-subtitle
          >
          <mat-card-subtitle>Status: {{ done.status }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
